---
import BaseLayout from '../layouts/BaseLayout.astro';
import Sketch from "../components/Sketch.astro";
const pageTitle = "About Me";
---
<BaseLayout pageTitle={pageTitle}>
  <p>I have created this page mostly for keeping track of my notes and
projects and to have a "time capsule" of sorts which I can use to look
back at and hopefully notice a lot of progress!</p>
  <br><p>At the time of writing this I am 20 years old and have been learning
to program for about 3 years. In that time I have tried my hand at many
different areas of this vast field, such as Web development, Game
development and Graphics Programming to name a few. I think the most
valuable thing I have learned though is having fun with
<em>learning</em> in general. Recently I have become especially
fascinated with <strong>Math</strong> and I suspect most of the early
notes/posts on this site will be my study notes of rather basic Math
since I have a lot to catch up to and want to have a rock-solid
foundation for the more "advanced" topics.</p> <br>
<hr><br>
</BaseLayout>